body {
    margin: 0;
    padding: 0;
    min-height: 300vh;
    overflow-x: hidden;
}

.carousel-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    z-index: -2;
}

.carousel {
    position: relative;
    width: 200px;
    height: 200px;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-item {
    position: absolute;
    width: 50px;
    height: auto;
    left: 50%;
    top: 50%;
    transform-origin: bottom center;
    transition: transform 0.1s ease-out;
}

.intro {
    justify-self: center;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.title {
    -webkit-text-stroke-width: 15.07px;
    -webkit-text-stroke-color: #FAFAFA;
    font-family: Oxanium;
    color: #E20613;
    font-size: 3.43338rem;
    font-weight: 700;
    paint-order: stroke fill;
    -webkit-paint-order: stroke fill;
    margin-top: -1.5rem;
    position: relative;
    z-index: -1;
}

.subtitle {
    color: #E20613;
    -webkit-text-stroke-width: 4.39px;
    -webkit-text-stroke-color: #FAFAFA;
    font-family: Oxanium;
    font-size: 0.981rem;
    font-weight: 700;
    paint-order: stroke fill;
    -webkit-paint-order: stroke fill;
    margin-left: 0.2rem;
    position: relative;
    z-index: 1;
}

@media (min-width: 768px) {
    .carousel {
        width: 400px;
        height: 400px;
    }

    .carousel-item {
        width: 100px;
    }

    .title {
        font-size: 7.5rem;
        -webkit-text-stroke-width: 33px;
        margin-top: -4rem;
    }

    .subtitle {
        font-size: 2.5rem;
        -webkit-text-stroke-width: 11px;
        margin-left: 0.4rem;
    }
}

@media (min-width: 1024px) {
    .carousel {
        width: 600px;
        height: 600px;
    }

    .carousel-item {
        width: 120px;
    }

    .title {
        font-size: 10.9375rem;
        -webkit-text-stroke-width: 48px;
        margin-top: -5rem;
    }

    .subtitle {
        font-size: 3.125rem;
        -webkit-text-stroke-width: 14px;
        margin-left: 0.6rem;
    }
}